.menu
  text-align center

.menu__item
  font-weight bold
  float left
  display inline-block
  text-transform uppercase
  padding-right 87px
  &:last-child
    padding-right 0
  &__link
    display inline-block

.slider__item
  display inline-block
  position relative
  //width 33%
  &__img
    width 447px
    max-width 640px
    margin 0
  &__text
    background-color rgba(0, 0, 0, 0.67);
    color #ffffff
    padding 23px 30px 23px 40px
    position absolute
    z-index 100
    bottom 0
    width 100%
    line-height 24px
    &__link
      color #f34639
      display inline-block
      float right
      text-decoration underline