.menu
  text-align center

.menu__item
  font-weight bold
  float left
  display inline-block
  text-transform uppercase
  padding-right 87px
  &:last-child
    padding-right 0
  &__link
    display inline-block

.slider .slick-prev
  left 0
  background rgba(255, 255, 255, 0.4)
  width 450px
  height 100%
  z-index 500
.slick-prev:before
  content ""
  display block
  margin-left 50%
  background url("../img/slide/arrow-left.png") no-repeat center center
  width 17px
  height 30px

.slider .slick-next
  background rgba(255, 255, 255, 0.4)
  width 450px
  height 100%
  right 0

.slick-next:before
  display block
  content ""
  margin-left  50%
  background url("../img/slide/arrow-right.png") no-repeat center center
  width 17px
  height 30px

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
  opacity: 1

.slider__item
  display inline-block
  position relative
  &__img
    width 100%
    //max-width 640px
    margin 0
  &__text
    background-color rgba(0, 0, 0, 0.67);
    color #ffffff
    padding 23px 30px 23px 40px
    position absolute
    z-index 100
    bottom 0
    width 100%
    line-height 24px
    &__link
      color #f34639
      display inline-block
      float right
      text-decoration underline

.title
  background url("../img/general/flip_title.png") repeat-x center center
  &__text
    font-size 30px
    text-transform uppercase
    font-weight 800
    display inline-block
    background-color #ffffff
    padding-right 10px

.block-text
  margin-top 45px
  display inline-block
  text-align justify
  padding-right 20px
  width 70%
  line-height 24px
  &__img
    float left
    margin 0 30px 0 0

.block-slide
  display inline-block
  vertical-align top
  margin-top 45px
  width 340px
  &__item
    display inline-block
  &__title
    img&__img
      vertical-align top
      display inline-block
    &__text
      display inline-block
      margin-left 10px
      line-height 28px
      font-weight bold
      text-transform uppercase
      padding-right 30px
  .slick-dots
    button
      background-color #e2e2e2
      border-radius 50%
    .slick-active button
      background-color #f34639
    li button:before
      display none

.quote
  width 340px
  line-height 24px
  font-style italic
  margin-top 20px
  &__text
    margin 0 30px
  &:before
    content ""
    background url("../img/slide/quotes.png") no-repeat center center
    width 19px
    height 17px
    display inline-block

.church
  margin-top 30px
  text-align center
  &__item
    display inline-block
    margin 7px
    vertical-align top
    &__text
      font-weight 800
      width 415px
      line-height 24px
      margin 20px 0
      text-align left
      &__link
        display block
        color #f34639
        text-decoration underline

.donation
  &_bg
    background url("../img/content/donation-bg.png") no-repeat center center
    background-size cover
    position relative
  &__img
    position absolute
    top -59px
    left 165px
  &__block
    padding 20px 0
    float right
    display inline-block
    font-size 24px
    width 70%
    line-height 40px
    &__subtitle
      display inline-block
      margin-top 10px
      font-size 15px
  &__block strong
    color: #f34639
.button
  display block
  margin-top 10px
  cursor pointer
  padding 10px 20px
  border none
  background none
  border 2px solid #d0d0d0
  color #f34639
  font-size 15px
  font-weight bold
  text-decoration underline

.news
  margin-top 20px
  text-align center
  &__item
    display inline-block
    position relative
    vertical-align top
    margin 10px
    &__text
      width 410px
      color #000000
      text-decoration underline
      margin-top 20px
      line-height 24px
      display block
      text-align left

.date
  position absolute
  background-color #f34639
  width 65px
  height 65px
  color #ffffff
  font-size 40px
  text-align center
  padding-top  5px
.date span
  font-size 15px
  display block
.video
  margin-top 20px
  text-align center
  &__item
    width 400px
    display inline-block
    margin 15px
.ya-map
  width 100%
  height 400px
  //position relative

.contact
  position absolute
  display inline-block
  left 0
  top 150px
  z-index 500
  width 325px
  background-color #ffffff
  padding 30px 17px
  line-height 30px
  &__title
    font-size 24px
    font-weight bold