.container
    .content
        ul.breadcrumps
            li.breadcrumps__item
                a(href="").breadcrumps__item__link Главная
            li.breadcrumps__item
                a(href="").breadcrumps__item__link О фонде
            li.breadcrumps__item
                a(href="").breadcrumps__item__link Структура