footer
    .container.container_br-red.clearfix
        .content.clearfix
            img(src="./static/img/content/logo-footer.png").logo-footer
            ul.info.clearfix
                li.info__item__li
                    a(href="").info__item Информация фонда
                li.info__item__li
                    a(href="").info__item О Фонде
                li.info__item__li
                    a(href="").info__item Уставные документы
                li.info__item__li
                    a(href="").info__item Отчетные документы
                li.info__item__li
                    a(href="").info__item Благополучателям
            ul.info
                li.info__item__li
                    a(href="").info__item Пресс-центр
                li.info__item__li
                    a(href="").info__item Новости
                li.info__item__li
                    a(href="").info__item Видеоматериалы
                li.info__item__li
                    a(href="").info__item Пресса о нас
                li.info__item__li
                    a(href="").info__item Материалы для скачивания
            ul.info
                li.info__item__li
                    a(href="").info__item Контакты
                li.info__item__li
                    a(href="").info__item Адрес: г. Красногорск , ул. Ленина, 67а
                li.info__item__li
                    a(href="tel: +7 (495) 563-15-64").info__item Телефон: +7 (495) 563-15-64
                li.info__item__li
                    a(href="mailto:fond-vps@yandex.ru").info__item e-mail: fond-vps@yandex.ru
            .social.clearfix
                .social-contact
                    a(href="")
                        img(src="./static/img/content/fb-footer.png").social-contact__img
                    a(href="")
                        img(src="./static/img/content/vk-footer.png").social-contact__img
                    a(href="")
                        img(src="./static/img/content/insta-footer.png").social-contact__img
                .social-contact__btn
                    button(type="button").btn.btn_footer.js-popup-form помочь фонду

    .container.container_br-red.clearfix
        .content.container_border
            | © 2016, Благотворительный фонд Московской епархии по восстановлению порушенных святынь
