form.form-callback.mfp-hide#popup-form
    .title.title_bg-none.title__text заказать обратный звонок
    .field-item
        input(name="name" type="text" placeholder="Ваше имя").field-item__control.border
    .field-item
        input(name="phone" type="phone" placeholder="Ваше номер телефона").field-item__control.border
    .field-item.field-item_size
        button(type="button").btn Оставить заявку
