header
    .container
        .content
            img(src="./static/img/content/logo.png")
            .telephone
                a(href="tel: +7 (495) 256-27-28").telephone__link +7 (495) 256-27-28
                button(type="button").btn.js-popup-form помочь фонду
            .icons
                a(href="").icon__img
                    img(src="./static/img/content/instagram.png")
                a(href="").icon__img
                    img(src="./static/img/content/vk.png")
                a(href="").icon__img
                    img(src="./static/img/content/fasebook.png")
            .address
                img(src="./static/img/content/point.png").address__img
                .address__text
                    span.address__text_bold Наш адрес:
                    |   г. Красногорск, ул. Ленина, 67а

    .container.container_gray
        .content
            ul.menu.clearfix
                li.menu__item
                    a(href="").menu__item__link о фонде
                li.menu__item
                    a(href="").menu__item__link Порушенные святыни
                li.menu__item
                    a(href="").menu__item__link Востановленные храмы
                li.menu__item
                    a(href="").menu__item__link Благотворители
                li.menu__item
                    a(href="").menu__item__link Благополучателям
                li.menu__item
                    a(href="").menu__item__link наши контакты
