header
    .container
        .content
            a(href="/")
                img(src="./static/img/content/logo.png")
            .telephone
                a(href="tel: +7 (495) 256-27-28").telephone__link +7 (495) 256-27-28
                button(type="button").btn.js-popup-form помочь фонду
            .icons
                a(href="").icon__img
                    img(src="./static/img/content/instagram.png")
                a(href="").icon__img
                    img(src="./static/img/content/vk.png")
                a(href="").icon__img
                    img(src="./static/img/content/fasebook.png")
            .address
                img(src="./static/img/content/point.png").address__img
                .address__text
                    span.address__text_bold Наш адрес:
                    |   г. Красногорск, ул. Ленина, 67а

