.container.container_gray
    .content.content_no-padding
        ul.menu.clearfix
            li.menu__item
                a(href="/").menu__item__link о фонде
                ul.submenu
                    li.submenu__item
                        a(href="/").submenu__item__link о фонде
                    li.submenu__item
                        a(href="/structure.html").submenu__item__link структура фонда
                    li.submenu__item
                        a(href="/news.html").submenu__item__link новости
            li.menu__item
                a(href="/porushennue.html").menu__item__link Порушенные святыни
            li.menu__item
                a(href="/reconstructed.html").menu__item__link Востановленные храмы
            li.menu__item
                a(href="").menu__item__link Благотворители
            li.menu__item
                a(href="").menu__item__link Благополучателям
            li.menu__item
                a(href="/contacts.html").menu__item__link наши контакты
