.info
  display inline-block
  vertical-align top
  padding 0 84px
  &:last-child
    padding 0
  &__item
    color #ffffff
    line-height 30px

.info__item__li
  &:first-child
    font-weight bold
    font-size 17px

.logo-footer
  vertical-align top

.social
  display block
.social-contact
  float right
  margin-right 195px
  &__btn
    float right
    margin-right 125px
    margin-top 5px
    width 227px
  &__img
    margin-left 10px
