.info
  display inline-block
  vertical-align top
  padding 0 96px
  &:last-child
    padding-right 0
  &__item
    color #ffffff
    line-height 30px

.info__item__li
  &:first-child
    font-weight bold
    font-size 17px

.logo-footer
  vertical-align top

.social
  display block
  //margin-bottom 20px
.social-contact
  float right
  margin-right 120px
  &__btn
    float right
    margin-right 162px
    margin-top 5px
    width 227px
  &__img
    margin-left 10px
