.telephone
  display inline-block
  float right
  &__link
    font-size 24px
    font-weight 800
    display inline-block
    margin-bottom 10px


.icons
  display inline-block
  float right
  margin-right 80px
.icon__img
  display inline-block
  padding 0 5px
  margin-top 12px


.address
  float right
  margin-right 80px
  margin-top 10px
  &__text
    display inline-block
    &_bold
      font-weight bold
      display block
      margin-bottom 10px

.address__img
  vertical-align bottom


