.block-map
	width 835px
	height 400px
	display inline-block

.block-contacts
	display inline-block
	vertical-align top
	margin 35px 105px 0 0
	&__text
		line-height 24px
		margin 20px 0
		&__paragraf
			padding 10px 0
	&__item
		display block
		margin 20px 0
		a
			text-decoration underline
		&__img
			display inline-block
			margin-right 20px
		&__text
			width 250px
			display inline-block
			vertical-align middle
			line-height 22px

.color-red
	color #f34639
	display block
	font-weight bold
	font-size 18px
	text-decoration none

.font-bold
	font-weight bold