.old-church_img
	float left
	max-width 628px
	margin 0 20px 20px 0

.old-church__item__table_width
	max-width inherit
	width 50%
	margin-bottom 40px

.detales
	line-height 30px
	margin-top 20px

.histiry-info
	line-height 30px
	display block

.gallery
	text-align center
	margin-top  20px
	&__img
		display inline-block
		width 300px
		margin 10px 12px