
.title_width
	width 50%
	display inline-block
	vertical-align middle

.search
	display inline-block
	position relative
	float right
	font-size 14px
	border 1px solid #d4d4d4
	border-radius 5px
	&__input
		display inline-block
		padding 10px 30px
		width  400px
		border none
	&:before
		content ""
		display inline-block
		width 16px
		height 16px
		background url("../img/content/search-icone.png") no-repeat left
		position absolute
		left 5px
		top 10px

.search__combo-btn
	position relative
	font-size 15px
	display inline-block
	background #f2f2f2
	border-left 1px solid #d4d4d4
//border 1px solid #d4d4d4
//border-left none
//border-radius 3px

.search-btn
	background none
	border none
	outline none
	padding 10px 0
	padding-left 13px
	padding-right 8px
	cursor pointer
	min-width 160px
	text-align left

.search__select-btn
	width 34px
	cursor pointer
	height 11px
	background url("../img/content/arrows.png") no-repeat center
	display inline-block
	padding: 18px 20px
	vertical-align top

.box-select
	position absolute
	right 40px
	top -40px
	padding 16px 15px
	background #FFFFFF
	box-shadow: 0 0 7.84px 0.16px rgba(0, 0, 0, 0.3);
	min-width 200px
	text-align left
	display none

	&__item
		padding 8px 11px
		cursor pointer

	.active, &__item:hover
		background-color #f34639
		color #FFFFFF

.box-select.show
	display block

.search__box-select
	display none

.old-church
	text-align center
	&__item
		display inline-block
		margin 10px
	&__title
		width 100%
		max-width 410px
		font-weight bold
		font-size 16px
		line-height 24px
		margin 20px 0
		text-align left

.old-church__item__table
	width 100%
	max-width 410px
	text-align left
	border-spacing 0
	td
		width 50%
		padding 10px

	&_tr-gray
		background-color #f2f2f2

.td-color-red
	color #f34639
	font-weight bold

.td-link
	font-weight bold
	text-transform uppercase
	text-align right
.td-link a
	color #f34639
	text-decoration underline




.pagination
	text-align center
	margin 20px 0
	margin-top 40px
	&__item
		display inline-block
		padding 20px
		background-color #f2f2f2
		font-size 15px
		font-weight bold
		margin 5px
		&:hover
			background-color #f34639
			color #FFFFFF

