extends ../layout/main

block title
	| Eparhia

block content
	.container.container_gray
		.content
			ul.menu.clearfix
				li.menu__item
					a(href="").menu__item__link о фонде
				li.menu__item
					a(href="").menu__item__link Порушенные святыни
				li.menu__item
					a(href="").menu__item__link Востановленные храмы
				li.menu__item
					a(href="").menu__item__link Благотворители
				li.menu__item
					a(href="").menu__item__link Благополучателям
				li.menu__item
					a(href="").menu__item__link наши контакты

	.container
		.slider.js-slider-cherch
			.slider__item
				img(src="./static/img/slide/slide1.jpg").slider__item__img
				.slider__item__text Храм Рождества Пресвятой Богородицы<br>
					| с. Селевкино
					a(href="").slider__item__text__link подробнее
			.slider__item
				img(src="./static/img/slide/slide2.jpg").slider__item__img
				.slider__item__text Храм Воскресения Господня<br>
					| д. Старая Хотча
					a(href="").slider__item__text__link подробнее
			.slider__item
				img(src="./static/img/slide/slide3.jpg").slider__item__img
				.slider__item__text Церковь Иконы Божией Матери Всех Скорбящих Радость с. Пересветово
					a(href="").slider__item__text__link подробнее
			.slider__item
				img(src="./static/img/slide/slide1.jpg").slider__item__img
				.slider__item__text Храм Рождества Пресвятой Богородицы<br>
					| с. Селевкино
					a(href="").slider__item__text__link подробнее
			.slider__item
				img(src="./static/img/slide/slide2.jpg").slider__item__img
				.slider__item__text Храм Воскресения Господня<br>
					| д. Старая Хотча
					a(href="").slider__item__text__link подробнее
			.slider__item
				img(src="./static/img/slide/slide3.jpg").slider__item__img
				.slider__item__text Церковь Иконы Божией Матери Всех Скорбящих Радость с. Пересветово
					a(href="").slider__item__text__link подробнее