extends ../layout/main

block title
    | Eparhia

block content


    .container
        .slider.js-slider-church
            .slider__item
                img(src="./static/img/slide/slide1.jpg").slider__item__img
                .slider__item__text Храм Рождества Пресвятой Богородицы<br>
                    | с. Селевкино
                    a(href="").slider__item__text__link подробнее
            .slider__item
                img(src="./static/img/slide/slide2.jpg").slider__item__img
                .slider__item__text Храм Воскресения Господня<br>
                    | д. Старая Хотча
                    a(href="").slider__item__text__link подробнее
            .slider__item
                img(src="./static/img/slide/slide3.jpg").slider__item__img
                .slider__item__text Церковь Иконы Божией Матери Всех Скорбящих Радость с. Пересветово
                    a(href="").slider__item__text__link подробнее
            .slider__item
                img(src="./static/img/slide/slide1.jpg").slider__item__img
                .slider__item__text Храм Рождества Пресвятой Богородицы<br>
                    | с. Селевкино
                    a(href="").slider__item__text__link подробнее
            .slider__item
                img(src="./static/img/slide/slide2.jpg").slider__item__img
                .slider__item__text Храм Воскресения Господня<br>
                    | д. Старая Хотча
                    a(href="").slider__item__text__link подробнее
            .slider__item
                img(src="./static/img/slide/slide3.jpg").slider__item__img
                .slider__item__text Церковь Иконы Божией Матери Всех Скорбящих Радость с. Пересветово
                    a(href="").slider__item__text__link подробнее

    .container
        .content
            section.about
                .title
                    h2.title__text о фонде

                .block-text
                    img(src="./static/img/content/about.jpg").block-text__img
                    | С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке систем массового участия. С другой стороны консультация с широким активом играет важную роль в формировании направлений прогрессивного развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Равным образом постоянный количественный рост и сфера нашей активности позволяет оценить значение форм развития. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров представляет собой интересный эксперимент проверки дальнейших направлений развития. Повседневная практика показывает, что новая модель организационной деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание существенных финансовых и административных условий. Повседневная практика показывает, что укрепление и развитие структуры позволяет оценить значение направлений прогрессивного развития.
                .block-slide.js-slide-small
                    .block-slide__item
                        .block-slide__title
                            img(src="./static/img/slide/patriarch.png").block-slide__title__img
                            .block-slide__title__text Патриарх<br> Московский и всея<br> Руси Кирилл
                        .quote
                            blockquote.quote__text
                                p Подмосковная земля отмечена подвигами нашего народа. Здесь проливалась кровь, особенно во время Великой Отечественной войны. Здесь проходил самый страшный, самый важный рубеж. Если бы враги этот рубеж преступили, то у нас не было бы столицы. Поэтому на этой земле не должно оставаться невосстановленных старинных храмов
                    .block-slide__item
                        .block-slide__title
                            img(src="./static/img/slide/patriarch.png").block-slide__title__img
                            .block-slide__title__text Патриарх<br> Московский и всея<br> Руси Кирилл
                        .quote
                            blockquote.quote__text
                                p Подмосковная земля отмечена подвигами нашего народа. Здесь проливалась кровь, особенно во время Великой Отечественной войны. Здесь проходил самый страшный, самый важный рубеж. Если бы рубеж этот рубеж преступили, то у нас не было бы столицы. Поэтому на этой земле не должно оставаться невосстановленных старинных храмов


    .container
        .content
            section
                .title
                    h2.title__text востановленные храмы
                .church
                    .church__item
                        .church__item__img
                            img(src="./static/img/content/church1.jpg")
                            .church__item__text Церковь Обновления храма Воскресения Христова в деревне Воскресенское Рузского района
                                a(href="").church__item__text__link подробнее
                    .church__item
                        .church__item__img
                            img(src="./static/img/content/church2.jpg")
                            .church__item__text Ильинский храм в селе Пруссы Коломенского района
                                a(href="").church__item__text__link подробнее
                    .church__item
                        .church__item__img
                            img(src="./static/img/content/church3.jpg")
                            .church__item__text Вознесенский храм села Сенницы Озерского района
                                a(href="").church__item__text__link подробнее


    .container
        .content
            .title
                h2.title__text видеоматериалы
            section.video
                .video__item
                    iframe(width="410" height="200" src="https://www.youtube.com/embed/GJ5EPNWe-IU" frameborder="0" allowfullscreen)
                .video__item
                    iframe(width="410" height="200" src="https://www.youtube.com/embed/GJ5EPNWe-IU" frameborder="0" allowfullscreen)
                .video__item
                    iframe(width="410" height="200" src="https://www.youtube.com/embed/GJ5EPNWe-IU" frameborder="0" allowfullscreen)




    .container.donation_bg.container_margin
        .content
            section.donation.clearfix
                img(src="./static/img/content/iPhone-6.png").donation__img
                .donation__block Мы рады сообщить Вам, что теперь у Вас есть возможность отправить пожертвование по СМС на короткий номер
                    strong  «7878»
                    span.donation__block__subtitle Минимальная сумма платежа 50 руб., максимальная - 15 000 руб.
                    button.button скачать буклет о работе фонда


    .container.container_margin
        .content
            .title
                h2.title__text новости фонда
            section.news
                .news__item
                    .date 25
                        span март
                    img(src="./static/img/content/news1.jpg").news__item__img
                    a(href="/news-details.html").news__item__text Освящение креста Богородицерождественского храма села Большие Белыничи Зарайского района
                .news__item
                    .date 31
                        span апр
                    img(src="./static/img/content/news2.jpg").news__item__img
                    a(href="/news-details.html").news__item__text Сюжет о восстановлении Богородицерождественского храма в селе Никольское Рузского района на телеканале "360 Подмосковье"
                .news__item
                    .date 10
                        span янв
                    img(src="./static/img/content/news3.jpg").news__item__img
                    a(href="/news-details.html").news__item__text Встреча митрополита Ювеналия с благочинными церковных округов Московской епархии



    //.container#map.ya-map.clearfix
    //    .content.content_position
    //        .contact
    //            .contact__title Наш адрес
    //            | 143408, Красногорск Московской области, ул. Ленина, 67а
    .container
        .content.content_no-padding
            script(type='text/javascript', src='http://prihod.ru/ortox-map.php?metropoly=5208&w=1300&h=400&map=1')


    include ../modules/form-callback