extends ../layout/main

block title
    | Eparhia

block content
    include ../modules/breadcramps

    .container
        .content.clearfix
            .block-info.clearfix
                h2.title__text Церковь Обновления храма Воскресения Христова в деревне Воскресенское Рузского района
                img(src="./static/img/content/old-church2.png").old-church_img

                table.old-church__item__table.old-church__item__table_width
                    tr.old-church__item__table_tr-gray
                        td Района
                        td Сямженский
                    tr
                        td Деревня
                        td Пуронга
                    tr.old-church__item__table_tr-gray
                        td Состояние
                        td аварийное
                    tr
                        td Номер
                        td 2016
                    tr.old-church__item__table_tr-gray
                        td Потраченная сумма
                        td.td-color-red 230 000 руб.

                span.detales Разнообразный и богатый опыт сложившаяся структура организации в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения существенных финансовых и административных условий. Товарищи! сложившаяся структура организации требуют от нас анализа дальнейших направлений развития. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа направлений прогрессивного развития.

            h2.title__text Историчесткая справка
            .histiry-info
                | Разнообразный и богатый опыт сложившаяся структура организации в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения существенных финансовых и административных условий. Товарищи! сложившаяся структура организации требуют от нас анализа дальнейших направлений развития. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании форм развития.
                | Повседневная практика показывает, что новая модель организационной деятельности позволяет оценить значение систем массового участия. Не следует, однако забывать, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации форм развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт реализация намеченных плановых заданий позволяет оценить значение форм развития. Таким образом постоянный количественный рост и сфера нашей активности позволяет оценить значение существенных финансовых и административных условий. Равным образом новая модель организационной деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

            section.gallery
                - var n = 0;
                    while n < 8
                        - n++
                        img(src="./static/img/content/old-church.png").gallery__img

    .container
        .content.content_no-padding
            script(type='text/javascript', src='http://prihod.ru/ortox-map.php?metropoly=5208&w=1300&h=400&map=1')

    include ../modules/form-callback