extends ../layout/main

block title
    | Eparhia

block content
    include ../modules/breadcramps

    .container
        .content
            .title.title_width
                h2.title__text Порушенные святыни
            form.search
                input.search__input(placeholder="Поиск по району")
                .search__combo-btn.js-box-select
                    button.search-btn(type="submit") Москва
                    .search__select-btn
                    select.search__box-select(name="city_name")
                        option(value="Москва" selected=true) Москва
                        option(value="Санкт-Петербург") Санкт-Петербург
                        option(value="Астрахань") Астрахань
                        option(value="Барнаул") Барнаул
                        option(value="Волгоград") Волгоград
                        option(value="Воронеж") Воронеж
                        option(value="Екатеринбург") Екатеринбург
                        option(value="Ижевск") Ижевск
                        option(value="Иркутск") Иркутск
                        option(value="Казань") Казань
                        option(value="Калининград") Калининград
                        option(value="Краснодар") Краснодар
                        option(value="Красноярск") Красноярск
                        option(value="Набережные Челны") Набережные Челны
                        option(value="Нижний Новгород") Нижний Новгород
                        option(value="Новосибирск") Новосибирск
                        option(value="Омск") Омск
                        option(value="Оренбург") Оренбург
                        option(value="Пермь") Пермь
                        option(value="Ростов-на-Дону") Ростов-на-Дону


            section.old-church
                - var n = 0;
                while n < 6
                    - n++
                    .old-church__item
                        img(src="./static/img/content/old-church.png").old-church__item__img
                        .old-church__title Церковь Обновления храма Воскресения Христова в деревне Воскресенское Рузского района
                        table.old-church__item__table
                            tr.old-church__item__table_tr-gray
                                td Района
                                td Сямженский
                            tr
                                td Деревня
                                td Пуронга
                            tr.old-church__item__table_tr-gray
                                td Состояние
                                td аварийное
                            tr
                                td Номер
                                td 2016
                            tr.old-church__item__table_tr-gray
                                td Потраченная сумма
                                td.td-color-red 230 000 руб.
                            tr
                                td(colspan="3").td-link
                                    a(href="/eparhia/porushennue-detales.html") подробнее

            .pagination
                a(href="").pagination__item <<
                a(href="").pagination__item <
                a(href="").pagination__item 1
                a(href="").pagination__item 2
                a(href="").pagination__item 3
                a(href="").pagination__item >
                a(href="").pagination__item >>

    include ../modules/form-callback