.container
  &_border
    border-top 1px solid rgba(255, 255, 255, 0.21)
    color #ffffff
    text-align center
  width 100%
  &_gray
    background-color #f2f2f2
  &_margin
    margin-top 50px
  &_br-red
    background-color #f34639

.content
  width 100%
  max-width 1300px
  margin 0 auto
  padding 20px 0
  &_position
    position relative
    padding 0
  &_no-padding
    padding 0

.btn
  background-color #f34639
  color #ffffff
  border none
  padding 10px
  display block
  width 100%
  cursor pointer
  text-transform uppercase
  &:hover
    background-color #b7352b
  &_footer
    background-color #ffffff
    color #f34639
    font-weight bold
    &:hover
      background-color #ffffff



